.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0 0 26px;
    grid-column: 2;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        max-width: 90%;
        grid-column: 1;
        margin: 0 auto 25px;
    }
    
    .place__paragraph:first-of-type {
        margin-top: 32px;
    }
  }