.cover {
    margin: 92px auto;
    max-width: 1184px;
    display: grid;
    background-image: url(../../images/cover-trains.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
}

.cover::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2a2c2f;
    opacity: 0.3;
  }

.cover:hover::after {
    opacity: 0.8;
  }

@media screen and (max-width: 1279px) {
    .cover {
      max-width: 100%;
    }
}

@media screen and (max-width: 1023px) {
  .cover {
    max-width: 100%;
    margin: 90px auto 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    max-width: 100%;
    margin: 66px auto 64px;
  }
}