.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-column-gap: 40px;
    grid-template-areas:
        "title website"
        "pic paragraph";
    box-sizing: border-box;
    margin-bottom: 80px;
}

.place:last-of-type {
    margin: 0;
}